black==23.12.1
fqdn==1.5.1
isoduration==20.11.0
jsonpointer==2.4
jupyter==1.0.0
lazypredict==0.2.12
missingno==0.5.2
openpyxl==3.1.2
pathlib==1.0.1
pip-chill==1.0.3
pyarrow==15.0.0
pyprojroot==0.3.0
pywavelets==1.5.0
sklearn-genetic-opt==0.10.1
uri-template==1.3.0
webcolors==1.13
wfdb==4.1.2
# anyio==4.2.0 # Installed as dependency for jupyter-server
# argon2-cffi==23.1.0 # Installed as dependency for jupyter-server
# argon2-cffi-bindings==21.2.0 # Installed as dependency for argon2-cffi
# arrow==1.3.0 # Installed as dependency for isoduration
# asttokens==2.4.1 # Installed as dependency for stack-data
# async-lru==2.0.4 # Installed as dependency for jupyterlab
# attrs==23.2.0 # Installed as dependency for jsonschema, referencing
# babel==2.14.0 # Installed as dependency for jupyterlab-server
# beautifulsoup4==4.12.3 # Installed as dependency for nbconvert
# bleach==6.1.0 # Installed as dependency for nbconvert
# certifi==2023.11.17 # Installed as dependency for requests
# cffi==1.16.0 # Installed as dependency for argon2-cffi-bindings, soundfile
# charset-normalizer==3.3.2 # Installed as dependency for requests
# click==8.1.7 # Installed as dependency for black, lazypredict
# colorama==0.4.6 # Installed as dependency for click, ipython, tqdm
# comm==0.2.1 # Installed as dependency for ipykernel, ipywidgets
# contourpy==1.2.0 # Installed as dependency for matplotlib
# cycler==0.12.1 # Installed as dependency for matplotlib
# deap==1.4.1 # Installed as dependency for sklearn-genetic-opt
# debugpy==1.8.0 # Installed as dependency for ipykernel
# decorator==5.1.1 # Installed as dependency for ipython
# defusedxml==0.7.1 # Installed as dependency for nbconvert
# et-xmlfile==1.1.0 # Installed as dependency for openpyxl
# executing==2.0.1 # Installed as dependency for stack-data
# fastjsonschema==2.19.1 # Installed as dependency for nbformat
# fonttools==4.47.2 # Installed as dependency for matplotlib
# idna==3.6 # Installed as dependency for anyio, requests
# ipykernel==6.29.0 # Installed as dependency for jupyter, jupyter-console, jupyterlab, qtconsole
# ipython==8.20.0 # Installed as dependency for ipykernel, ipywidgets, jupyter-console
# ipywidgets==8.1.1 # Installed as dependency for jupyter
# jedi==0.19.1 # Installed as dependency for ipython
# jinja2==3.1.3 # Installed as dependency for jupyter-server, jupyterlab, jupyterlab-server, nbconvert
# joblib==1.3.2 # Installed as dependency for lazypredict, scikit-learn
# json5==0.9.14 # Installed as dependency for jupyterlab-server
# jsonschema==4.21.1 # Installed as dependency for jupyter-events, jupyterlab-server, nbformat
# jsonschema-specifications==2023.12.1 # Installed as dependency for jsonschema
# jupyter-client==8.6.0 # Installed as dependency for ipykernel, jupyter-console, jupyter-server, nbclient, qtconsole
# jupyter-console==6.6.3 # Installed as dependency for jupyter
# jupyter-core==5.7.1 # Installed as dependency for ipykernel, jupyter-client, jupyter-console, jupyter-server, jupyterlab, nbclient, nbconvert, nbformat, qtconsole
# jupyter-events==0.9.0 # Installed as dependency for jupyter-server
# jupyter-lsp==2.2.2 # Installed as dependency for jupyterlab
# jupyter-server==2.12.5 # Installed as dependency for jupyter-lsp, jupyterlab, jupyterlab-server, notebook, notebook-shim
# jupyter-server-terminals==0.5.1 # Installed as dependency for jupyter-server
# jupyterlab==4.0.11 # Installed as dependency for notebook
# jupyterlab-pygments==0.3.0 # Installed as dependency for nbconvert
# jupyterlab-server==2.25.2 # Installed as dependency for jupyterlab, notebook
# jupyterlab-widgets==3.0.9 # Installed as dependency for ipywidgets
# kiwisolver==1.4.5 # Installed as dependency for matplotlib
# lightgbm==4.2.0 # Installed as dependency for lazypredict
# markupsafe==2.1.4 # Installed as dependency for jinja2, nbconvert
# matplotlib==3.8.2 # Installed as dependency for missingno, seaborn, wfdb
# matplotlib-inline==0.1.6 # Installed as dependency for ipykernel, ipython
# mistune==3.0.2 # Installed as dependency for nbconvert
# mypy-extensions==1.0.0 # Installed as dependency for black
# nbclient==0.9.0 # Installed as dependency for nbconvert
# nbconvert==7.14.2 # Installed as dependency for jupyter, jupyter-server
# nbformat==5.9.2 # Installed as dependency for jupyter-server, nbclient, nbconvert
# nest-asyncio==1.6.0 # Installed as dependency for ipykernel
# notebook==7.0.7 # Installed as dependency for jupyter
# notebook-shim==0.2.3 # Installed as dependency for jupyterlab, notebook
# numpy==1.26.3 # Installed as dependency for contourpy, deap, lightgbm, matplotlib, missingno, pandas, pyarrow, pywavelets, scikit-learn, scipy, seaborn, sklearn-genetic-opt, wfdb, xgboost
# overrides==7.6.0 # Installed as dependency for jupyter-server
# packaging==23.2 # Installed as dependency for black, ipykernel, jupyter-server, jupyterlab, jupyterlab-server, matplotlib, nbconvert, qtconsole, qtpy
# pandas==2.2.0 # Installed as dependency for lazypredict, seaborn, wfdb
# pandocfilters==1.5.1 # Installed as dependency for nbconvert
# parso==0.8.3 # Installed as dependency for jedi
# pathspec==0.12.1 # Installed as dependency for black
# pillow==10.2.0 # Installed as dependency for matplotlib
# platformdirs==4.1.0 # Installed as dependency for black, jupyter-core
# prometheus-client==0.19.0 # Installed as dependency for jupyter-server
# prompt-toolkit==3.0.43 # Installed as dependency for ipython, jupyter-console
# psutil==5.9.8 # Installed as dependency for ipykernel
# pure-eval==0.2.2 # Installed as dependency for stack-data
# pycparser==2.21 # Installed as dependency for cffi
# pygments==2.17.2 # Installed as dependency for ipython, jupyter-console, nbconvert, qtconsole
# pyparsing==3.1.1 # Installed as dependency for matplotlib
# python-dateutil==2.8.2 # Installed as dependency for arrow, jupyter-client, matplotlib, pandas
# python-json-logger==2.0.7 # Installed as dependency for jupyter-events
# pytz==2023.3.post1 # Installed as dependency for pandas
# pywin32==306 # Installed as dependency for jupyter-core
# pywinpty==2.0.12 # Installed as dependency for jupyter-server, jupyter-server-terminals, terminado
# pyyaml==6.0.1 # Installed as dependency for jupyter-events
# pyzmq==25.1.2 # Installed as dependency for ipykernel, jupyter-client, jupyter-console, jupyter-server, qtconsole
# qtconsole==5.5.1 # Installed as dependency for jupyter
# qtpy==2.4.1 # Installed as dependency for qtconsole
# referencing==0.32.1 # Installed as dependency for jsonschema, jsonschema-specifications, jupyter-events
# requests==2.31.0 # Installed as dependency for jupyterlab-server, wfdb
# rfc3339-validator==0.1.4 # Installed as dependency for jupyter-events
# rfc3986-validator==0.1.1 # Installed as dependency for jupyter-events
# rpds-py==0.17.1 # Installed as dependency for jsonschema, referencing
# scikit-learn==1.4.0 # Installed as dependency for lazypredict, sklearn-genetic-opt
# scipy==1.12.0 # Installed as dependency for lightgbm, missingno, scikit-learn, wfdb, xgboost
# seaborn==0.13.1 # Installed as dependency for missingno
# send2trash==1.8.2 # Installed as dependency for jupyter-server
# six==1.16.0 # Installed as dependency for asttokens, bleach, python-dateutil, rfc3339-validator
# sniffio==1.3.0 # Installed as dependency for anyio
# soundfile==0.12.1 # Installed as dependency for wfdb
# soupsieve==2.5 # Installed as dependency for beautifulsoup4
# stack-data==0.6.3 # Installed as dependency for ipython
# terminado==0.18.0 # Installed as dependency for jupyter-server, jupyter-server-terminals
# threadpoolctl==3.2.0 # Installed as dependency for scikit-learn
# tinycss2==1.2.1 # Installed as dependency for nbconvert
# tornado==6.4 # Installed as dependency for ipykernel, jupyter-client, jupyter-server, jupyterlab, notebook, terminado
# tqdm==4.66.1 # Installed as dependency for lazypredict, sklearn-genetic-opt
# traitlets==5.14.1 # Installed as dependency for comm, ipykernel, ipython, ipywidgets, jupyter-client, jupyter-console, jupyter-core, jupyter-events, jupyter-server, jupyterlab, matplotlib-inline, nbclient, nbconvert, nbformat, qtconsole
# types-python-dateutil==2.8.19.20240106 # Installed as dependency for arrow
# typing-extensions==4.9.0 # Installed as dependency for pyprojroot
# tzdata==2023.4 # Installed as dependency for pandas
# urllib3==2.1.0 # Installed as dependency for requests
# wcwidth==0.2.13 # Installed as dependency for prompt-toolkit
# webencodings==0.5.1 # Installed as dependency for bleach, tinycss2
# websocket-client==1.7.0 # Installed as dependency for jupyter-server
# widgetsnbextension==4.0.9 # Installed as dependency for ipywidgets
# xgboost==2.0.3 # Installed as dependency for lazypredict
